
body{
    background-color: aqua;
    font-size: large;
}


table{
    border: 2px solid black;
}
form{
    position:relative;
    float:left;
    
}
table thead tr{
    background-color: brown!important;
    border: 1px double black;
}
table tr:nth-child(even){
    background-color: rgba(0, 0, 255, 0.479);
    border:1px solid black;
    color:white;
}
table tr:nth-child(odd){
    background-color: blue;
    border:1px solid black;

    color:white
}
table tr td{
    padding:20px;        
}
table tr td a{
    color:white;
    text-decoration: none;
    background-color: rgb(0, 195, 255);
    padding:10px;
}
table tr td a:hover{
    background-color:aquamarine;
    color:black;
}
table tr td a:last-of-type:hover{
    background-color:rgb(207, 46, 34);
    color:rgb(255, 255, 255);
}